#burgermenu {
    display: none;
}

/* Small sizes */
@media (max-width: 1024px) {
    @property --item-size {
        syntax: "<length>";
        inherits: false;
        initial-value: 100px;
    }

    body {
        align-items: flex-start;
    }

    header {
        position: fixed;
        height: var(--item-size);
        flex-grow: 1;
        width: 100%;
    }

    #logowrapper {
        padding-right: calc(5rem + 20px);
        box-sizing: border-box;
    }

    .logo {
        /* height: var(--item-size); */
        background-size: 100%;
        /* flex-basis: 100px;
        aspect-ratio: 3 / 2; */
    }

    h1.peach-pit-style {
        
    }
    .topnav {
        display: none;
    }

    #burgermenu {
        display: flex;
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
    }

    .burgericon {
        z-index: 106;
    }

    #burgercheckbox {
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: 0;
        z-index: 110;
        opacity: 0;
    }

    #burgerscreen {
        position: absolute;
        right: 0;
        margin-right: -20px;
        margin-top: 99px;
        box-sizing: border-box;
        background-color: #100230;
        display: none;
        z-index: 105;
    }

    #burgercheckbox:checked+#burgerscreen {
        display: block;
    }

    .burgerlinks {
        display: flex;
        flex-direction: column;
    }

    .burgerlinks a {
        float: left;
        ;
        color: #ffffff;
        font-family: 'VT323', sans-serif;
        text-align: center;
        padding: 20px 105px;
        text-decoration: none;
        font-size: 3rem;
    }


    /* Change the color of links on hover */
    .burgerlinks a:hover {
        background-color: #b92703;
        color: black;
    }

    .burgerlinks a:visited {
        /* background-color: #ddd; */
        color: #ffffff;
    }

    /* Add a color to the active/current link */
    .burgerlinks a.active {
        background-color: #04da8c;
        color: rgb(4, 7, 0);
    }


    #content {
        margin-top: var(--item-size);
    }
}

/* Large sizes */
@media (min-width: 1024px) {
    .logo {
        width: 8em;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }
}